.box {
    width: 800px;
    height: 400px;
    background-color: blueviolet;
}

#green-box {
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    margin: 20px;
}

a {
    /* display: block; */
    background-color: aliceblue;
}
p {
    display: inline-block;
}